html {
	background-image: url("../images/bats.gif");	
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	max-width: 960px;
	width: 95%;                        /* fixed width was 800 */
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header {
    background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
    padding: .9375em 1.875% .9375em 1.875%;  /* 15 / 16; 15 / 800 x 100 */
} 
header img { 
	float: left; 
	padding-right: 1.875%; 
	width: 10.6%;
	max-width: 85px;
	min-width: 40px;
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
	padding-bottom: .75em;
}

/* Navigation menu */
#nav_menu {
	clear: left;
	margin: 0;
	padding: 0;    
}
#nav_menu ul {
	list-style: none;
    margin: 0;
    padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li a.current {
	color: orange;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

/* Sidebar */
aside {
    margin: 0;
    padding: 2em 0;
}
#nav_list ul { 
	list-style: none;
    margin: 0;
    padding: 0 5%;
}
#nav_list ul li { 
	margin-bottom: .5em;
	border: 2px solid black;
}
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
    text-align: center;
	background-color: orange;
	padding: .5em 0;
	color: black;
}

/* Section */
section {
    padding: 2em 5%;
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h2 {
	font-size: 115%;
	margin: .8em 0 .4em 0;
}
section p {
	margin-bottom: .5em;
}
section a {
	font-weight: bold;
	color: orange;
    text-decoration: none;
}
section a:link, main a:visited { 
    color: orange; 
}
section a:hover, main a:focus { 
    color: green;
}

/* Footer */
footer { 
	border-top: 2px solid black;
	padding: .9375em 1.875% .9375em 1.875%;
    background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}

#mobile_menu {
	display: none;
}

@media only screen and (max-width: 800px) {
	html {
		background-image: none;
	}
	body {
		font-size: 90%;
		box-shadow: none;
	}
}

@media only screen and (max-width: 767px) {
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	header h2 {
		font-size: 200%;
	}
}

@media only screen and (max-width: 479px) {
	header h2 {
		font-size: 180%;
	}
	header h3 {
		font-size: 115%;
	}
	section h1 {
		font-size: 130%;
	}
}
